<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p><a href="/new">Click Here</a> to create a new message</p>

<ul>
  {{#each messages}}
    <li>
      <p>{{this.user}}</p>
      <p>{{this.text}}</p>
      <p>{{this.added}}</p>
    </li>
  {{/each}}
</ul>